{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

<p class="h1">Профиль пользователя @{{user.username}}: </p>  

<div class="row row-cols-md-3 justify-content-end">
<p class="card-text"> Мои подписчики: {% for fol in user.following.all %}<strong class="d-block text-gray-dark">{{ fol.user }} </strong>{% endfor %}    </p>
<p class="card-text">Мои подписки: {% for f in user.follower.all %}<strong class="d-block text-gray-dark">{{ f.author }} </strong>{% endfor %}</p>
</div>





<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-top: 24px;">
   
  {% for post in posts %}
    <div class="col" >
      
      <div class="card shadow-sm" style="height: 500px;">
        {% if post.image %}
        <div>
         <div style="color:white; font-size: 2em; font-weight: bold; text-align: center; position: absolute; top: 10%; width: 50%; left: 25%; bottom: 25%; opacity: 0.7;"><p class="h1"></p>{{ post.title }}</p></div>
          <img class="bd-placeholder-img card-img-top img-wrap" src="{{ post.image.url }}" width="100%" height="225"></img>
        
        </div>
        {% endif %}

        <div class="card-body">
          <p class="card-text">{{post.description|truncatewords:22}}</p>
          <a name="uu" href="#">
            <!-- <strong class="d-block text-gray-dark">@{{ post.author }}</strong> -->
          </a>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group" >
              <a href= "{% url 'detail' post.id %}" class="btn btn-sm btn-outline-secondary">Смотреть</a>
              {% if post.author == request.user %}
              <a href= "{% url 'edit_post' post.id %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>              
              {% endif %}
            </div>
            <small class="text-muted">{{ post.pub_date }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
      </div>
      <!-- transform: translate(-50%, -50%, -50%, -50%); top: 30%; left: 50%; -->

      <p class="h1" style="margin-top: 48px;">Подписки: </p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-top: 24px;">
   
        {% for post in posts_list %}
          <div class="col" >
            
            <div class="card shadow-sm" style="height: 500px;">
              {% if post.image %}
              <div>
               <div style="color:white; font-size: 2em; font-weight: bold; text-align: center; position: absolute; top: 10%; width: 50%; left: 25%; bottom: 25%; opacity: 0.7;"><p class="h1"></p>{{ post.title }}</p></div>
                <img class="bd-placeholder-img card-img-top img-wrap" src="{{ post.image.url }}" width="100%" height="225"></img>
              
              </div>
              {% endif %}
      
              <div class="card-body">
                <p class="card-text">{{post.description|truncatewords:22}}</p>
                <a name="uu" href="#">
                  <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
                </a>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group" >
                    <a href= "{% url 'detail' post.id %}" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                    {% if post.author == request.user %}
                    <a href= "{% url 'edit_post' post.id %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>              
                    {% endif %}
                  </div>
                  <small class="text-muted">{{ post.pub_date }}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
            </div>


{% endblock %}